/* media.css */

/* Media Query für kleinere Bildschirme */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 15px;
    }

    .logo {
        font-size: 28px;
    }

    .navbar {
        padding: 10px;
    }

    .navbar a {
        margin: 10px;
        font-size: 16px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 20px;
    }

    .cookie-text {
        height: 80vh;
    }

    .popup-content {
        padding: 20px;
    }
}

/* Media Query für kleinere Bildschirme und mobile Geräte */
@media only screen and (max-width: 767px) {
    header {
        padding: 15px;
    }

    .logo {
        font-size: 28px;
    }

    .navbar {
        padding: 15px;
        flex-direction: column; /* Ändere die Richtung auf Spalte */
        align-items: stretch; /* Dehne die Elemente über die Breite aus */
        text-align: center; /* Zentriere den Text */
        display: none;
    }

    .navbar li {
        padding: 10px; /* Füge Abstand zwischen den Elementen hinzu */
        border-bottom: 1px solid #ddd; /* Füge eine Trennlinie zwischen den Elementen hinzu */
    }

    .navbar a {
        margin: 10px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 20px;
    }

    .cookie-text {
        height: 80vh;
    }

    .popup-content {
        padding: 20px;
    }

    .menu-toggle {
        display: block; /* Zeige das Menüsymbol für kleine Bildschirme */
    }

    .navbar.active {
        display: flex; /* Zeige die Navbar, wenn sie aktiv ist (z. B. nach einem Klick auf das Menüsymbol) */
    }
}

/* Media Query für Tablets und kleinere Desktops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 20px;
    }

    .logo {
        font-size: 32px;
    }

    .navbar {
        padding: 15px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 30px;
    }

    .cookie-text {
        height: 70vh;
    }

    .popup-content {
        padding: 30px;
    }
}

/* Media Query für größere Desktops */
@media only screen and (min-width: 1024px) {
    header {
        padding: 25px 100px;
    }

    .logo {
        font-size: 36px;
    }

    .navbar {
        padding: 20px;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar a {
        margin: 15px;
        font-size: 20px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 40px;
    }

    .cookie-text {
        height: 60vh;
    }

    .popup-content {
        padding: 40px;
    }
}

/* Media Query für sehr kleine Bildschirme */
@media screen and (max-width: 400px) {
    body {
        font-size: 12px;
    }

    header {
        padding: 10px;
    }

    .logo {
        font-size: 24px;
    }

    .navbar {
        padding: 5px;
    }

    .navbar a {
        margin: 8px;
        font-size: 14px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 15px;
    }

    .cookie-text {
        height: 90vh;
    }

    .popup-content {
        padding: 15px;
    }
}

/* Media Query für kleine Tablets und größere Handys */
@media screen and (min-width: 401px) and (max-width: 767px) {
    header {
        padding: 15px;
    }

    .logo {
        font-size: 28px;
    }

    .navbar {
        padding: 10px;
    }

    .navbar a {
        margin: 10px;
        font-size: 16px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 20px;
    }

    .cookie-text {
        height: 80vh;
    }

    .popup-content {
        padding: 20px;
    }
}

/* Media Query für größere Tablets und kleine Laptops */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 20px;
    }

    .logo {
        font-size: 32px;
    }

    .navbar {
        padding: 15px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 30px;
    }

    .cookie-text {
        height: 70vh;
    }

    .popup-content {
        padding: 30px;
    }
}

/* Media Query für größere Laptops und Desktops */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    header {
        padding: 25px 100px;
    }

    .logo {
        font-size: 36px;
    }

    .navbar {
        padding: 20px;
    }

    .navbar li {
        padding: 15px;
    }

    .navbar a {
        margin: 15px;
        font-size: 20px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 40px;
    }

    .cookie-text {
        height: 60vh;
    }

    .popup-content {
        padding: 40px;
    }
}

/* Media Query für größere Desktops und Breitbildschirme */
@media screen and (min-width: 1280px) {
    header {
        padding: 30px 150px;
    }

    .logo {
        font-size: 40px;
    }

    .navbar {
        padding: 25px;
    }

    .navbar li {
        padding: 20px;
    }

    .navbar a {
        margin: 20px;
        font-size: 24px;
        display: block; /* Mache die Links zu Blockelementen */
    }

    .follow-me {
        margin-right: 50px;
    }

    .cookie-text {
        height: 50vh;
    }

    .popup-content {
        padding: 50px;
    }
}

/* Media Query für den Schieberegler */
/* Zeige das Hintergrundbild nur online an */
@media (hover: hover) {
    .slider:before {
        background-image: none;
    }

    input:checked + .slider:before {
        background-image: none;
    }
}