/* media.css */

/* Media Query für kleinere Bildschirme */
@media (max-width: 600px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für kleinere Bildschirme und mobile Geräte */
@media (max-width: 767px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für Tablets und kleinere Desktops */
@media (min-width: 768px) and (max-width: 1023px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }

}

/* Media Query für größere Desktops */
@media (min-width: 1024px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für sehr kleine Bildschirme */
@media (max-width: 400px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für kleine Tablets und größere Handys */
@media (min-width: 401px) and (max-width: 767px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für größere Tablets und kleine Laptops */
@media (min-width: 768px) and (max-width: 1023px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für größere Laptops und Desktops */
@media (min-width: 1024px) and (max-width: 1279px) {

    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }
    
    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Media Query für größere Desktops und Breitbildschirme */
@media (min-width: 1280px) {
    
    .navbar-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #333; /* Dunkler Hintergrund */
        padding: 10px 20px; /* Innenabstand oben/unten 10px, links/rechts 20px */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schatten für visuellen Effekt */
        z-index: 1000; /* Stelle sicher, dass die Navigationsleiste über anderen Inhalten liegt */
        text-align: center; /* Zentrieren des Textes */
        font-family: Arial, sans-serif; /* Verwende eine Standardschriftart */
        color: #fff; /* Weiße Textfarbe */
    }

    .navbar ul li {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .navbar.active {
        flex-direction: column; /* Links untereinander anordnen */
        align-items: center; /* In der Mitte ausrichten */
        display: none; /* Menü standardmäßig ausblenden */
    }

    .navbar.active a {
        display: block; /* Links in der mobilen Ansicht anzeigen */
        margin: 10px;
        font-size: 16px;
    }

    .navbar a {
        margin: 12px;
        font-size: 18px;
        display: block;
        /* Mache die Links zu Blockelementen */
    }

    .navbar.active.show {
        display: flex; /* Menü anzeigen, wenn aktiv */
    }

    .navbar button.menu-toggle {
        display: block;
        /* Menüsymbol für kleine Bildschirme anzeigen */
    }

    #language-switcher {
        position: absolute;
        top: 6px;
        right: 20px;
        display: flex;
        align-items: center;
    }
}

/* Hamburger-Menü für kleinere Bildschirme */
@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
    .navbar {
        display: none;
    }
    .navbar.active {
        display: flex;
    }
    .logo {
        display: none;
    }
}

/* Normales Menü für größere Bildschirme */
@media screen and (min-width: 769px) {
    .menu-toggle {
        display: none;
        cursor: pointer;
    }
    .navbar {
        display: flex;
    }
}