/* Globale Zurücksetzungen und Stile */
* {
    padding: 0; /* Setzt den Innenabstand aller Elemente auf 0 */
    margin: 0; /* Setzt den Außenabstand aller Elemente auf 0 */
    box-sizing: border-box; /* Stellt sicher, dass Padding und Border nicht die Gesamtbreite des Elements beeinflussen */
    list-style: none; /* Entfernt Aufzählungspunkte von Listen */
    text-decoration: none; /* Entfernt Standard-Textdekorationen wie Unterstreichungen */
    border: none; /* Entfernt Standard-Rahmen für Elemente */
    outline: none; /* Entfernt den Standard-Kontur-Stil für Elemente */
    scroll-behavior: smooth; /* Fügt ein sanftes Scrollen für Anchor-Links hinzu */
    font-family: var(--fa-font-solid); /* Verwendet die definierte Schriftart */
}

/* Definierte Farbvariablen */
:root {
    --text-color: white; /* Definiert die Haupttextfarbe */
    --bg-color: black; /* Definiert die Hintergrundfarbe */
    --main-color: blue; /* Definiert die Hauptfarbe */
    --h1-font: 6rem; /* Definiert die Schriftgröße für H1-Überschriften */
    --p-font: 1rem; /* Definiert die Schriftgröße für Absätze */
}

/* Stile für den gesamten Body */
body {
    color: var(--text-color);
    background: var(--bg-color);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/background.png);
    background-size: cover;
    background-position: bottom center;
}

/* Stile für den Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(225, 225, 225, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px); /* Unschärfeeffekt für Hintergrund */
}

/* Stile für das Logo */
.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    justify-content: flex-start; /* Ändere justify-content auf flex-start */
    display: inline-block;
}

.logo span {
    margin-right: 8px; /* Hier den gewünschten Abstand eintragen */
}

/* Stile für das Textelement "span" */
span {
    color: var(--main-color);
}

/* Stile für die Navigationsleiste */
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    margin: 15px 18px;
}

.navbar a:hover {
    color: var(--main-color);
}

/* Stile für die "Folge uns"-Leiste */
.follow-me {
    display: flex;
    align-items: center;
    margin-right: 120px; /* Füge hier den gewünschten Abstand hinzu */
}

.follow-me a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 14px;
}

.follow-me a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 16px;
    margin-left: 5px;
}

.follow-me a:hover {
    color: var(--main-color);
    margin-right: 16px; /* Beibehalten des Abstands rechts */
    margin-left: 5px; /* Beibehalten des Abstands links */
}

/* Stile für Abschnitte */
section {
    padding: 70px 20% 60px;
}

/* Stile für den "Home"-Abschnitt */
.home {
    position: right;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

.home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}

/* Stile für den Button */
.btn {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    cursor: default;
    transition: background-color 0.5s ease; /* Hintergrundfarbübergang */   
}

.btn:hover {
    background-color: var(--text-color); /* Hintergrundfarbe beim Hover */
    color: var(--main-color); /* Textfarbe beim Hover */
}

/* Stile für den Container */
.container {
    position: relative;
    margin: auto;
    max-width: 2000px;
}

.no-click {
    pointer-events: none;
}



/* Stile für den Ladebildschirm und versteckte Elemente */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-screen p {
    font-size: 24px;
}


.highlight {
    background-color: yellow;
    color: black;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid #fff;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-top: 20px;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  
  .noscript-message {
    animation: blink 2s infinite alternate, slide 1s infinite;
    background: #ff0000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

@keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}





/* Stile für den Footer */
footer {
    color: #fff;
    text-align: center;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
}



/* Stile für den Language Switcher */
#language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* Stile für den Schieberegler */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 34px;
    transition: background-color 0.4s ease;
}

.slider:before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-size: cover;
    transition: transform 0.4s ease;
}

input:checked + .slider {
    background-color: #2196F3; /* Blau, wenn der Slider nach rechts verschoben ist (English) */
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Füge einen Abstand zwischen "Sprache" und dem Slider hinzu */
.language-label {
    margin-right: 10px; /* Passe den Abstand nach Bedarf an */
}

/* Stile für die deutschen und englischen Flaggen */
.slider:before {
    background-image: url('../img/language/de-32.png'); /* Pfad zur deutschen Flagge */
}

input:checked + .slider:before {
    background-image: url('../img/language/uk-32.png'); /* Pfad zur englischen Flagge */
}



/* Stile für das Popup */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #fff;
    text-align: center;
    padding: 40px; /* Größeren Innenabstand hinzufügen */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative; /* Position auf relative ändern, um den absolut positionierten Schließen-Button zu positionieren */
    font-size: 18px; /* Hier kannst du die Schriftgröße ändern */
}

.popup-content a {
    display: block;
    margin-bottom: 10px; /* Fügt 10 Pixel Abstand zwischen den Links hinzu */
}

.popup-content .mitte-container {
    text-align: center; /* Zentriert den Inhalt innerhalb des Containers */
    width: 80%; /* Ändern Sie die Breite des Containers nach Bedarf (hier 80%) */
    margin: 0 auto; /* Zentriert den Container horizontal auf der Seite */
}

.popup-content .mitte-container a {
    display: inline-block; /* Stellt sicher, dass die Links nebeneinander angeordnet werden */
    margin-right: 10px; /* Fügt einen Abstand zwischen den Links hinzu */
}

.popup-content .mitte-container a:last-child {
    margin-bottom: 0; /* Entfernt den unteren Abstand vom letzten Link */
}

.popup-content button {
    padding: 15px 30px; /* Erhöht die Padding-Eigenschaft für den Button */
    font-size: 16px; /* Passt die Schriftgröße des Buttons an */
}

.popup-content h2 {
    margin-bottom: 10px; /* Fügt 10 Pixel Abstand unter dem h2-Element hinzu */
}

.popup-content br {
    margin-top: 10px;
}

/* Stile für  Popup */
/* Stile für die neuen Schaltflächen und den Link im Popup */
#accept-cookies,
#close-cookies,
#close-accepted-popup,
#close-rejected-popup {
    margin-top: 10px; /* Fügt Abstand zwischen den Schaltflächen hinzu */
    padding: 10px 20px; /* Ändert die Schaltflächen-Padding-Werte nach Bedarf an */
    background-color: #2196F3; /* Hintergrundfarbe der Schaltflächen */
    color: #fff; /* Textfarbe der Schaltflächen */
    border: none; /* Entfernt den Schaltflächenrahmen */
    cursor: pointer; /* Zeigt den Zeiger beim Überfahren der Schaltflächen an */
    border-radius: 5px; /* Runde Ecken für die Schaltflächen */
}

#accept-cookies:hover,
#close-cookies:hover,
#close-accepted-popup:hover,
#close-rejected-popup:hover {
    background-color: #0c7cd5; /* Hintergrundfarbe beim Hover */
}