/* Importiere die Media Queries */
@import url('media.css');

/* Globale Zurücksetzungen und Stile */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: var(--fa-font-solid);
}

/* Definierte Farbvariablen */
:root {
    --text-color: white;
    --bg-color: black;
    --main-color: blue;
    --h1-font: 6rem;
    --p-font: 1rem;
    --accent-color: red;
}

/* Stile für den gesamten Body */
body {
    color: var(--text-color);
    background: var(--bg-color);
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/background.png);
    background-size: cover;
    background-position: bottom center;
}

/* Stile für den Header */
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 80px;
    background: rgba(225, 225, 225, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(12px);
}

/* Stile für das Logo */
.logo {
    font-size: 33px;
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    justify-content: flex-start;
    display: inline-block;
}

.logo span {
    margin-right: 8px;
}

/* Stile für das Textelement "span" */
span {
    color: var(--main-color);
}

/* Stile für die Navigationsleiste */
.navbar {
    display: flex;
    align-items: space-around;
    justify-content: center;
}

/* Stile für das Hamburger-Menü */
.menu-toggle {
    display: none; /* Verstecke das Menüsymbol standardmäßig */
    cursor: pointer;
}

.navbar a {
    color: var(--text-color);
    font-size: var(--p-font);
    margin: 15px 18px;
    position: relative;
    transition: color 0.3s;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: translateX(-50%);
    filter: blur(2px);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

.navbar a:hover::after,
.navbar a.active::after {
    opacity: 1;
}

.navbar a:hover {
    color: var(--main-color);
}

/* Stile für den aktiven Link */
.navbar a.active {
    position: relative;
}

.navbar a.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140%;
    height: 140%;
    backdrop-filter: blur(2px);
    z-index: -1;
    border-radius: 10px;
}

/* Stile für die "Folge uns"-Leiste */
.follow-me {
    display: flex;
    align-items: center;
    margin-right: 120px;
}

.follow-me a:first-child {
    color: var(--text-color);
    font-size: var(--p-font);
    margin-right: 14px;
}

.follow-me a {
    vertical-align: middle;
    font-size: 20px;
    color: var(--text-color);
    margin-right: 16px;
    margin-left: 5px;
}

.follow-me a:hover {
    color: var(--main-color);
    margin-right: 16px;
    margin-left: 5px;
}

/* Stile für Abschnitte */
section {
    padding: 70px 20% 60px;
}

/* Stile für den "Home"-Abschnitt */
.home {
    position: right;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-self: flex-start;

}

.home-text h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}

.home-text h1 {
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: #ffffffab;
    margin-bottom: 35px;
}

/* Stile für .cookie-section */
.cookie-section {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.cookie-section::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    filter: blur(8px); /* Ändern Sie den Blur-Effekt nach Bedarf */
    z-index: -1;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.cookie-text {
    color: #000;
    text-align: center;
    z-index: 1;
    /*background-color: rgba(255, 255, 255, 0.9); Hintergrundfarbe des Kastens */
    border-radius: 20px; /* Abgerundete Ecken für den Kasten */
    padding: 20px; /* Innenabstand für den Kasten */
    backdrop-filter: blur(10px); /* Blur-Effekt für den Hintergrund */
    height: 60vh; /* Ändern Sie die Höhe nach Bedarf */
    width: 80%; /* Ändern Sie die Breite nach Bedarf */
    margin: auto; /* Zentrieren Sie den Kasten horizontal */
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2); /* Schatten für den Kasten */
}

.cookie-text h5 {
    font-size: 24px; /* Größere Schriftgröße */
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--main-color);
}

.cookie-text h2 {
    font-size: 36px;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 30px; /* Erhöhter Abstand unter der Überschrift */
    text-transform: uppercase;
}

.cookie-text p {
    font-size: 22px; /* Größere Schriftgröße */
    font-weight: 650;
    line-height: 24px; /* Geringerer Zeilenabstand */
    margin-bottom: 25px; /* Geringerer Abstand zwischen den Absätzen */
}

/* Stile für den Button */
.btn {
    display: inline-block;
    padding: 13px;
    border-radius: 13px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    cursor: default;
    transition: background-color 0.5s ease;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: var(--text-color);
    color: var(--main-color);
}

/* Stile für den Container */
.container {
    position: relative;
    margin: auto;
    max-width: 2000px;
}

.no-click {
    pointer-events: none;
}

/* Stile für die Nachricht bei deaktiviertem JavaScript */
.noscript-message {
    position: fixed;
    /*top: 20px;  ändere dies nach Bedarf */
    /*left: 20px;  ändere dies nach Bedarf */
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Stile für die Ladeanimation */
.loading-spinner {
    width: 100px;
    height: 100px;
    border: 5px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    z-index: 9999;
}

/* Animation für die Ladeanimation */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Stile für die Nachrichten */
.message {
    font-size: 25px;
    margin-top: 10px;
    color: #000;
    text-align: center;
}

/* Stile für den Footer */
footer {
    color: #fff;
    text-align: center;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    font-size: 14px;
}

/* Stile für den Language Switcher */
#language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

/* Stile für den Schieberegler */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 34px;
    transition: background-color 0.4s ease;
}

.slider:before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-size: cover;
    transition: transform 0.4s ease;
    background-image: url('../img/language/de-32.png');
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    content: '';
    transform: translateX(26px);
    background-image: url('../img/language/uk-32.png');
}

/* #flags Abschnitt - Kombiniere beide Hintergrundbilder */
#flags {
    background-image: url('../img/language/de-32.png'), url('../img/language/uk-32.png');
}

/* Füge eine Klasse für das Ausblenden der Flaggen hinzu, wenn keine Internetverbindung besteht */
.no-internet #flags {
    display: none;
}

/* Füge eine Klasse für das Anzeigen des Texts hinzu, wenn keine Internetverbindung besteht */
.no-internet #language {
    display: inline-block;
}

/* Füge einen Abstand zwischen "Sprache" und dem Slider hinzu */
.language-label {
    margin-right: 10px;
}

/* Stile für das Popup */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #fff;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000;
    position: relative;
    font-size: 18px;
}

.popup-content a {
    display: block;
    margin-bottom: 10px;
}

.popup-content .mitte-container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.popup-content .mitte-container a {
    display: inline-block;
    margin-right: 10px;
}

.popup-content .mitte-container a:last-child {
    margin-bottom: 0;
}

.popup-content button {
    padding: 15px 30px;
    font-size: 16px;
}

.popup-content h2 {
    margin-bottom: 10px;
}

.popup-content br {
    margin-top: 10px;
}

/* Stile für  Popup */
/* Stile für die neuen Schaltflächen und den Link im Popup */
#accept-cookies,
#close-cookies,
#close-accepted-popup,
#close-rejected-popup {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#accept-cookies:hover,
#close-cookies:hover,
#close-accepted-popup:hover,
#close-rejected-popup:hover {
    background-color: #0c7cd5;
}

/* Zurückscroll-Pfeil-Stil */
#scroll-to-top {
    position: fixed;
    bottom: -40px; /* Startposition, außerhalb des Bildschirms */
    right: 40px;
    width: 30px;
    height: 30px;
    background-color: #2c3e50;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, bottom 0.3s ease, filter 0.3s ease; /* Animation für Farbwechsel und Position */
    display: flex;
    align-items: center;
    justify-content: center;
}

#scroll-to-top i {
    font-size: 15px; /* Kleinere Schriftgröße */
    color: #fff;
    transition: color 0.3s ease;
    position: relative;
    top: 1px;
    text-align: center;
}

body.scroll-up #scroll-to-top {
    bottom: 40px;
}

body:not(.scroll-up) #scroll-to-top {
    bottom: -40px;
} 